@import "tailwindcss";

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #faf9f6;
  color: #222;
}
/* AURELIA LIVE RATE TICKER */

.ticker-wrapper {
  width: 100%;
  overflow: hidden;
}

.ticker-track {
  width: max-content;
  animation: aureliaTicker 25s linear infinite;
  will-change: transform;
}

@keyframes aureliaTicker {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}